<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionClass</servlet-name>
        <servlet-class>controller.ConnectionClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendServlet</servlet-name>
        <servlet-class>controller.FriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrMessageServlet</servlet-name>
        <servlet-class>controller.FrMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notificationservlet</servlet-name>
        <servlet-class>controller.notificationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>controller.GroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pagecontroller</servlet-name>
        <servlet-class>controller.pagecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GmessageServlet</servlet-name>
        <servlet-class>controller.GmessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followservlet</servlet-name>
        <servlet-class>controller.followservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedservlet</servlet-name>
        <servlet-class>controller.feedservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settingservlet</servlet-name>
        <servlet-class>controller.settingservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordforget</servlet-name>
        <servlet-class>controller.passwordforget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionClass</servlet-name>
        <url-pattern>/ConnectionClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendServlet</servlet-name>
        <url-pattern>/FriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrMessageServlet</servlet-name>
        <url-pattern>/FrMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notificationservlet</servlet-name>
        <url-pattern>/notificationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/GroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagecontroller</servlet-name>
        <url-pattern>/pagecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GmessageServlet</servlet-name>
        <url-pattern>/GmessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followservlet</servlet-name>
        <url-pattern>/followservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedservlet</servlet-name>
        <url-pattern>/feedservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settingservlet</servlet-name>
        <url-pattern>/settingservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordforget</servlet-name>
        <url-pattern>/passwordforget</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
